<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Manage your Classic Cars</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="car-make">Make</label>
            <input type="text" id="car-make" class="form-control" aria-describedby="car-make" placeholder="Make">
          </div>
          <div class="form-group">
            <label for="car-model">Model</label>
            <input type="text" id="car-model" class="form-control" aria-describedby="car-model" placeholder="Model">
          </div>
          <div class="form-group">
            <label for="car-color">Color</label>
            <input class="form-control" id="car-color" aria-describedby="car-color" placeholder="Color"></input>
          </div>
          <div class="form-group">
            <label for="car-year">Year</label>
            <input class="form-control" id="car-year" aria-describedby="car-year" placeholder="1976"></input>
          </div>
          <div class="form-group">
            <label for="car-image">Image</label>
            <input class="form-control" id="car-image" aria-describedby="car-image" placeholder="image URL"></input>
          </div>
          {{!<div class="form-group">
            <input type="checkbox" class="form-check-input" id="car-clean">
            <label class="form-check-label" for="car-clean">Car is clean</label>
          </div>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" id="is-available">
            <label class="form-check-label" for="is-available">Car is available</label>
          </div>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" id="fix-car">
            <label class="form-check-label" for="fix-car">Car needs to be fixed</label>
          </div>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" id="tank-empty">
            <label class="form-check-label" for="tank-empty">Tank is empty</label>
          </div> }}
          <button id="submitcar" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3 class="clearfix">Available Cars</h3>
        <ul id="car-list" class="list-group">
          {{#each cars}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="car/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/cars.js"></script>